<div>
  <h1 class="text-center mt-4 mb-4">Usuários</h1>  
</div>
<div class="container">
  <div class="mb-2 float-right">
    <%= link_to "Adicionar", new_user_path, class: "btn btn-outline-info" %>
  </div>
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th colspan="2" style="width: 10%">Ações</th>
    </tr> 
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-outline-info" %></td>
        <td><%= link_to "Excluir", user, class: "btn btn-outline-danger", method: :delete, data: {'confirm-swal': 'Você deseja excluir o registro?', 'swal-text': 'Você não poderá reverter esta ação!'} %></td>
      </tr>
    <% end %>
  </table>
  <div class="float-right">
    <%= paginate @users %>
  </div>
</div>